<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin_login.css')}}"
</head>
<body>
    <div class="login-container">
        <div class="welcome-text">Welcome Hero!</div>
        <form action="/admin" method="POST">
            <input type="text" name="admin_name" placeholder="Admin Name" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <div class="user-page">
                <a>Not an admin?</a>
            <a href="/">Click Here</a>
        </form>
    </div>
</body>
</html>
